%h1 Auxcare

.auth
  #signup
    %h2 Sign up
  .signup_box
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      .field
        = f.label :first_name 
        %br
        = f.text_field :first_name, autofocus: true
        %br
        %br

      .field
        = f.label :last_name
        %br
        = f.text_field :last_name, autofocus: true
        %br
        %br

      .field
        = f.label :email
        %br
        = f.email_field :email, autofocus: true
        %br
        %br

      .field
        = f.label :password
        - if @minimum_password_length
          ="("
          %em=@minimum_password_length 
          = "characters minimum )"
        %br
        = f.password_field :password, autocomplete: "off"
        %br
        %br

      .field
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation, autocomplete: "off"
        %br
        %br

      .actions
        = f.submit "Sign up"
  %br
  %br

  = render "devise/sessions/new"
